<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>19/11/24 13:47:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setPath()[pri:0, instance:Web_Test.BaseClass@42d80b78]">&gt;&gt;setPath</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@342597804</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>19/11/24 13:47:37</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Execution.web_Task_2()[pri:0, instance:Web_Test.Execution@3bfdc050]">web_Task_2</td> 
  <td>main@342597804</td>   <td></td> </tr>
</table>
